name: deploy code changes to remote server

on:
 push:
  branches:
    - main

jobs:
  deploy-code-changes:
   runs-on: ubuntu-latest
   steps:
     - name: login to remote server
       uses: appleboy/ssh-action@v1
       with:
         host: ${{ secrets.SERVER_HOST }}
         username: ${{ secrets.SERVER_USERNAME }}
         password: ${{ secrets.SERVER_PASSWORD }}
         script: |
          cd ${{ secrets.APP_PATH }}
          git pull
          pm2 restart ${{ vars.PROJECT_NAME }}